@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');

*{
        margin: 0;
        padding: 0;
        font-family:  'Poppins', sans-serif;
        background-color: rgb(15, 14, 14);
        color: aliceblue;
}
.mainContainer{
    display: flex;
    text-align: center;
    margin-top:10vh;
    flex-direction: column;
   
}
.dataContainer{
    margin-bottom: 100px;
    font-size: 20px;
    

}
.header{
    margin-bottom: 30px;
    font-size: 40px;
}
.top{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}
.connect{
    justify-content:center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    
    
    
}
.conect{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.conect{
    margin-top: 50px;
    border: none;
    padding: 12px 20px;
    margin-right: 20px;
    font-size: 19px;
    border-radius: 10px;
    background: linear-gradient(109.6deg, rgb(15, 197, 15) 11.2%, rgb(25, 44, 24) 91.3%);
    color: white;
    cursor: pointer;
}
.conect:hover{  
    opacity: 2;
    scale: 1.03;
}
.conect:active{
    opacity: 0.9;
}
.address{
    font-size: 10px;
    background-color: transparent;
    color: white;
    width: 70px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.waveButton{
    margin-top: 50px;
    border: none;
    padding: 15px 15px;
    margin-right: 20px;
    font-size: 19px;
    border-radius: 10px;
    background: linear-gradient(109.6deg, rgb(15, 197, 15) 11.2%, rgb(25, 44, 24) 91.3%);
    color: white;
    cursor: pointer;
}
.waveButton:hover{
    opacity: 2;
    scale: 1.03;
}
.waveButton:active{
    opacity: 0.9;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.form textarea{
    height: 150px;
    width: 900px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid white;
}
.message{
    
    padding: 30px 20px;
    
}
.Log{
    display: flex;
    justify-content: flex-start;
   margin-top: 100px;
   margin-left: 200px;
   

}
.check{
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
}
.message{
    display: flex;
    width: 350px;
    text-align: start;
    white-space: nowrap;
    overflow: scroll;
    font-size: 15px;
    text-overflow: ellipsis;
    flex-direction: column;
    
   

}
.logs{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.log{
    border: 1px solid white;
    width: 1270px;
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
   

}
.time{
    width: 200px;
    white-space: nowrap;
    font-size: 15px;
    overflow:hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
   
   

}
.add{
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    color: rgb(15, 197, 15);
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: space-between;
   
}
